language: r
sudo: false
cache: packages

env:
  - NOT_CRAN=true

apt_packages: libudunits2-dev

r_github_packages:
  - jimhester/covr

after_success:
- Rscript -e 'covr::codecov()'

notifications:
  slack:
    secure: M/pDn42cC/+pDT09QnG5h9Ll9KywbbUSTmgBLsSlfm9nj70oreqksG23jD6aLLc2VKNatBATgpt9FqtSVziqWjvERTLobAeYDz35VHTE8GNNbwKA09tLgMl9B1YM4+jlLWBKOz1iU5TmPRHxwxAVxtTTgyxoH5lMWjn4jGL0llg=
