<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":1,"row":1},{"col":2,"row":1},{"col":3,"row":1},{"col":4,"row":1},{"col":5,"row":1},{"col":6,"row":1},{"col":1,"row":2},{"col":2,"row":2},{"col":3,"row":2},{"col":4,"row":2},{"col":5,"row":2},{"col":6,"row":2},{"col":1,"row":3},{"col":2,"row":3},{"col":3,"row":3},{"col":4,"row":3},{"col":5,"row":3},{"col":6,"row":3}]')
  Dashing.widget_base_dimensions = [200, 300]
  Dashing.numColumns = 6
});
</script>


<% content_for(:title) { "rOpenSci Dashboard" } %>
<div class="gridster">
  <center><div style="font-size: 14px">APIs are pinged every 60 seconds</div></center>
  <center><div style="font-size: 14px">Download our open source R packages <a href="https://github.com/ropensci">here</a> and check us out at <a href="http://ropensci.org/">http://ropensci.org/</a></div></center>
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/ropensci_main.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="impactstory" data-view="Meter" data-title="ImpactStory" data-min="0" data-max="100" style="background-color:#BA6E39"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plosalm" data-view="Meter" data-title="PLoS ALM" data-min="0" data-max="100" style="background-color:#F8BD1C"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="opensnporg" data-view="Meter" data-title="OpenSNP" data-min="0" data-max="100" style="background-color:#E8BE85"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="altmetric" data-view="Meter" data-title="Altmetric" data-min="0" data-max="100" style="background-color:#AD8D22"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="figshare" data-view="Meter" data-title="Figshare" data-min="0" data-max="100" style="background-color:#EF8E36"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bhl" data-view="Meter" data-title="BiodHerLibr" data-min="0" data-max="100" style="background-color:#AD8257"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ebird" data-view="Meter" data-title="eBird" data-min="0" data-max="100" style="background-color:#E7B854"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ncbi_entrez" data-view="Meter" data-title="NCBI Entrez" data-min="0" data-max="100" style="background-color:#EAA224"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="itis" data-view="Meter" data-title="ITIS" data-min="0" data-max="100" style="background-color:#C78527"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gbif" data-view="Meter" data-title="GBIF" data-min="0" data-max="100" style="background-color:#E4A65B"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="elife" data-view="Meter" data-title="eLife" data-min="0" data-max="100" style="background-color:#DDB42D"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="eol" data-view="Meter" data-title="EOL.org" data-min="0" data-max="100" style="background-color:#E18E4E"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iplant_tnrs" data-view="Meter" data-title="iPlant TNRS" data-min="0" data-max="100" style="background-color:#9A753A"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ubio" data-view="Meter" data-title="uBio" data-min="0" data-max="100" style="background-color:#C69959"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="eol_gnr" data-view="Meter" data-title="EOL GNR" data-min="0" data-max="100" style="background-color:#B2772F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tropicos" data-view="Meter" data-title="Tropicos" data-min="0" data-max="100" style="background-color:#A5740F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fishbase" data-view="Meter" data-title="Fishbase" data-min="0" data-max="100" style="background-color:#AA9260"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="neotoma" data-view="Meter" data-title="Neotoma" data-min="0" data-max="100" style="background-color:#BA6E39"></div>
    </li>
  </ul>
  <br>
  <center><div style="font-size: 14px"><a href="http://shopify.github.com/dashing/">Dashing</a> from <a href="http://www.shopify.com/">Shopify.com</a>, under MIT License</div></center>
</div>