<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":1,"row":1},{"col":2,"row":1},{"col":3,"row":1},{"col":4,"row":1},{"col":5,"row":1},{"col":6,"row":1},{"col":1,"row":2},{"col":2,"row":2},{"col":3,"row":2},{"col":4,"row":2},{"col":5,"row":2},{"col":6,"row":2},{"col":1,"row":3},{"col":2,"row":3},{"col":3,"row":3},{"col":4,"row":3},{"col":5,"row":3},{"col":6,"row":3}]')
  Dashing.widget_base_dimensions = [175, 175]
  Dashing.numColumns = 6
});
</script>

<% content_for(:title) { "rOpenSci API Dashboard" } %>
<div class="gridster">
  <center><div style="font-size: 14px">APIs are pinged every 60 seconds</div></center>
  <center><div style="font-size: 14px">Download our open source R packages <a href="https://github.com/ropensci">here</a> and check us out at <a href="http://ropensci.org/">http://ropensci.org/</a></div></center>
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/ropensci_main.png"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="impactstory" data-view="Text" data-title="ImpactStory" style="background-color:#CB9430"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plosalm" data-view="Text" data-title="PLoS ALM" style="background-color:#78694C"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="opensnporg" data-view="Text" data-title="OpenSNP" style="background-color:#E3BF87"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="altmetric" data-view="Text" data-title="Altmetric" style="background-color:#905320"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="figshare" data-view="Text" data-title="Figshare" style="background-color:#F2862F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bhl" data-view="Text" data-title="BiodHerLibr" style="background-color:#F5B412"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ebird" data-view="Text" data-title="eBird" style="background-color:#C09059"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ncbi_entrez" data-view="Text" data-title="NCBI Entrez" style="background-color:#EAA224"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="itis" data-view="Text" data-title="ITIS" style="background-color:#C66C31"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gbif" data-view="Text" data-title="GBIF" style="background-color:#F19C54"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="elife" data-view="Text" data-title="eLife" style="background-color:#EDBE5C"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="eol" data-view="Text" data-title="EOL.org" style="background-color:#926515"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iplant_tnrs" data-view="Text" data-title="iPlant TNRS" style="background-color:#EF9D1F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ubio" data-view="Text" data-title="uBio" style="background-color:#B77442"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="eol_gnr" data-view="Text" data-title="EOL GNR" style="background-color:#845C30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tropicos" data-view="Text" data-title="Tropicos" style="background-color:#B28134"></div>
    </li>
  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fishbase" data-view="Text" data-title="Fishbase" style="background-color:#CA8025"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="datacite" data-view="Text" data-title="Datacite" style="background-color:#BB9A39"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github" data-view="Text" data-title="GitHub" style="background-color:#D8A14F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pubmed" data-view="Text" data-title="PubMed" style="background-color:#F1A142"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plossearch" data-view="Text" data-title="PLoS Search" style="background-color:#AA6725"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="orcid" data-view="Text" data-title="Orcid" style="background-color:#DCA121"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="npn" data-view="Text" data-title="NatPhenNet" style="background-color:#756237"></div>
    </li>

  </ul>
  <br>
  <center><div style="font-size: 14px"><a href="http://shopify.github.com/dashing/">Dashing</a> from <a href="http://www.shopify.com/">Shopify.com</a>, under MIT License</div></center>
</div>